<% if alert.present? %>
  <div class="text-center w-full bg-white pt-5 pb-32 sm:pt-5 sm:pb-0 dark:bg-gray-900">
    <p class="py-2 px-3 bg-green-50 mb-5 text-red-500 font-medium rounded-md inline-block" id="notice"><%= alert %></p>
  </div>
<% end %>