<div id="<%= dom_id company %>">
  <p>
    <strong>Country:</strong>
    <%= company.country %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= company.url %>
  </p>
</div>